@model IEnumerable<MvcApplication1.Models.Product>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>


@using (Html.BeginForm("ShoppingCart","Home",FormMethod.Post)) {
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <div class="editor-field">  
                       <input type="checkbox" name="SelectedProducts" value="@item.ProductId" /> 

           </div>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}
     
</table>
<input type="submit" value="add to cart" />
}